.weather-item {
    width: 120px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-bottom: 20px;
}
.weather-day {
    width: 120px;
    height: 130px;
    float: left;
    clear: both;
    margin-bottom: 20px;
}
.weather-item h1.date {
    visibility: hidden;
    font-size: 12px;
}
.weather-day h1.date {
    visibility: visible;
    font-size: 12px;
}
h4,h3,p {
    margin: 0;
}
h4 {
    text-transform: capitalize;
}
