<div>
    <div class="weather">
        <div *ngFor="let weather of weather$?.list; let i = index;"
            [ngClass]="{
                'weather-day': i === 0 || (weather.unix | date:'dd/MM/yyyy') !== (weather$.list[i-1]?.unix | date:'dd/MM/yyyy'),
                'weather-item': i !== 0 || (weather.unix | date:'dd/MM/yyyy') === (weather$.list[i-1]?.unix | date:'dd/MM/yyyy')
                }">
            <h1 class="date">{{ weather.unix | date:'fullDate'}}</h1>
            <h3 style="text-transform: uppercase;"> {{ weather.weather[0].main }}</h3>
            <h4 > {{ weather.weather[0].description }}</h4>
            <span class="temperature">Temp: {{ weather.main.temp }} </span>
            <p>{{ weather.unix | date:'shortTime'}}</p>
        </div>
    </div>
</div>
